body {
  padding: 5% 0;
  background-color: #ecf0f1;
  /*text-align: center;*/
}
div {
    max-width: 40em;
    margin: 0 auto;
    padding: 2% 0;
}
table {
    margin: 0 auto;
}
ul {
    margin: 0 auto;
    list-style-type: none;
}