<html>
<head>
    <title>Mapbox JS Testing</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<style>
.criteria, .weights, .results {
    visibility: hidden;
}
</style>
<body>
    <% include navbar %>
    <!-- Page Contents -->
    <div id='content'>
        Decision analysis blah blah blah
        <a href='/criteria'>Click here to begin</a>
    </div>
</body>
</html>