<nav>
    <div id='nav-banner'>
        <span>NeighborGood</span>
    </div>
    <div id='nav-links'>
        <div class='link home'><a href='http://nobleguy.me'>Home</a></div>
        <div class='link home arrow'></div>
        <div class='link intro'><a href='/intro'>Introduction</a></div>
        <div class='link intro arrow'></div>
        <div class='link criteria'><a href='/criteria'>Criteria</a></div>
        <div class='link criteria arrow'></div>
        <div class='link weights'><a href='/weights'>Weights</a></div>
        <div class='link weights arrow'></div>
        <div class='link results'><a href='/results'>Results</a></div>
        <div class='link results arrow'></div>
    </div>
</nav>