<html>
<head>
    <title>Mapbox JS Testing</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<style>
.results {
    visibility: hidden;
}
</style>
<body>
    <% include navbar %>
    <!-- Page Contents -->
    <div id='content'>
        <div>
            <form action='/results' method='post'>
                <% comparisons.forEach(function(elem) { %>
                    <p> <%= elem[0] %> <input name= <%= elem %> type='range' min='1' max='9'> <%= elem[1] %> </p>
                <% }); %>
                <button>Submit</button>
            </form>
            <a href='/results'>Click to continue</a>
        </div>
    </div>
</body>
</html>