<!DOCTYPE html>
<html>

<!-- metadata -->
<head profile='http://www.w3.org/2005/10/profile'>
    <title>NeighborGood</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
<!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ahp/style.css' %}" />
    {% block head %}{% endblock head%}
</head>

<!--Logo, Banner, and Navigation-->
<nav>
    <div id='nav-banner'>
        <span>NeighborGood</span>
    </div>
    <div id='nav-links'>
        <div class='link home'><a href='http://nobleguy.me'>Home</a></div>
        <div class='link home arrow'></div>
        <div class='link welcome'><a href='/ahp/welcome.html'>Welcome</a></div>
        <div class='link welcome arrow'></div>
        <div class='link criteria'><a href='/ahp/criteria.html'>Criteria</a></div>
        <div class='link criteria arrow'></div>
        <div class='link weights'><a href='/ahp/weights.html'>Weights</a></div>
        <div class='link weights arrow'></div>
        <div class='link results'><a href='/ahp/results.html'>Results</a></div>
        <div class='link results arrow'></div>
    </div>
    
</nav>

<!-- Page Contents -->
<body>
{% block content %}{% endblock content %}
</body>
</html>
