{% extends 'ahp/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ahp/weights.css' %}" />
{% endblock head %}

{% block content %}
<div id='content'>
    <div>
        [instructions]
    </div>
    <div>
        <form action='../results/' method='post'>
            {% csrf_token %}
            {% for criterion, pairs in comparisons.items %}
                <b>{{ criterion }}:</b>
                <!-- TODO: display: table instead of <table>? -->
                <table>
                    {% for pair in pairs %}
                        <tr>
                            <td>{{ pair.0 }}</td>
                            <td>
                                <!-- TODO: Range -9 to 9 or 1 to 9 -->
                                <input type='range' min='1' max='9'
                                       name='preference.{{ criterion }}.{{ pair }}' value='{{ pair }}'>
                            </td>
                            <td>{{ pair.1 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <input class='next' type='submit' value='Next' />
        </form>
    </div>
</div>
{% endblock content %}
