<html>
<head>
    <title>Mapbox JS Testing</title>
    <link rel='stylesheet' type='text/css' href='style.css'>
</head>
<style>
.weights, .results {
    visibility: hidden;
}
</style>
<body>
    <% include navbar %>
    <!-- Page Contents -->
    <div id='content'>
        <div>
            <%= criteria %>
            <a href='/weights'>Click to continue</a>
        </div>
    </div>
</body>
</html>